# Введение. Команды: describe, dtypes, size, shape, loc, iloc

In [ ]:
# Общепринятые именования библиотек
import pandas as pd
import numpy as np

In [12]:
students_performance = pd.read_csv('data/StudentsPerformance.csv')

In [13]:
students_performance.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [14]:
# Описательные статистики
students_performance.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [15]:
# Посмотреть типы данных датафрейма
students_performance.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [16]:
# Атрибут shape(форма) в данном случае показывающий (количество строк, количество столбцов)
students_performance.shape

(1000, 8)

In [17]:
students_performance.size

8000

## Отбор колонок и строк

### iloc

In [18]:
# 3 строки, 5 колонок при помощи integer location iloc
students_performance.iloc[0:3, 0:5]

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
1,female,group C,some college,standard,completed
2,female,group B,master's degree,standard,none

In [20]:
# Можно отбирать конкретные строки и столбцы по индексам
students_performance.iloc[[0, 3, 10], [0, 5, -1]]

    gender  math score  writing score
0   female          72             74
3     male          47             44
10    male          58             52

### loc

In [21]:
# Доступ используя названия колонок и строк
students_performance_with_names = students_performance.iloc[[0, 3, 4, 7, 8]]

In [27]:
# Установим в качестве индексов столбец с именами
students_performance_with_names.index = ["Cersei", "Tywin", "Gregor", "Joffrey", "Ilyn Payne"]

In [28]:
students_performance_with_names

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Cersei,female,group B,bachelor's degree,standard,none,72,72,74
Tywin,male,group A,associate's degree,free/reduced,none,47,57,44
Gregor,male,group C,some college,standard,none,76,78,75
Joffrey,male,group B,some college,free/reduced,none,40,43,39
Ilyn Payne,male,group D,high school,free/reduced,completed,64,64,67

In [29]:
# Вывод для конкретных индексов
students_performance_with_names.loc[['Cersei', 'Joffrey']]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Cersei,female,group B,bachelor's degree,standard,none,72,72,74
Joffrey,male,group B,some college,free/reduced,none,40,43,39

In [31]:
# Конкретные строки и конкретные столбцы
students_performance_with_names.loc[['Cersei', 'Joffrey'], ['gender', 'writing score']]

         gender  writing score
Cersei   female             74
Joffrey    male             39

In [ ]:
type(students_performance_with_names.iloc[:, 0])

### pd.Series

In [39]:
# Каждая колонка в DataFrame это pd.Series (Серия пандоса) которая имеет некоторое имя ключ (название столбца)
my_series_1 = pd.Series([1, 2, 3], index=["Cersei", "Tywin", "Gregor"])
my_series_2 = pd.Series([4, 5, 6], index=["Cersei", "Tywin", "Gregor"])

### pd.DataFrame

In [41]:
pd.DataFrame({'col_name_1': my_series_1, 'col_name_2': my_series_2})

        col_name_1  col_name_2
Cersei           1           4
Tywin            2           5
Gregor           3           6

In [43]:
# Если по аналогии со словарем мы обратимся по ключу к DataFrame то получим pd.Series
students_performance_with_names['gender']

Cersei        female
Tywin           male
Gregor          male
Joffrey         male
Ilyn Payne      male
Name: gender, dtype: object

In [46]:
# А если обратимся как к списку столбцов то получим DataFrame
students_performance_with_names[['gender']]

            gender
Cersei      female
Tywin         male
Gregor        male
Joffrey       male
Ilyn Payne    male

In [48]:
students_performance_with_names.iloc[:3]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Cersei,female,group B,bachelor's degree,standard,none,72,72,74
Tywin,male,group A,associate's degree,free/reduced,none,47,57,44
Gregor,male,group C,some college,standard,none,76,78,75

## Пометка: loc берет строки включая последнюю, iloc нет.

In [53]:
students_performance_with_names.index

Index(['Cersei', 'Tywin', 'Gregor', 'Joffrey', 'Ilyn Payne'], dtype='object')