# Группировка и агрегация. Команды: groupby, aggregate.

In [36]:
import pandas as pd
import numpy as np

In [8]:
students_performance = pd.read_csv('data/StudentsPerformance.csv')

In [19]:
students_performance.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [10]:
students_performance.columns = students_performance.columns.str.replace(' ', '_')

In [11]:
students_performance.groupby('gender').aggregate('mean')

        math_score  reading_score  writing_score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

In [12]:
# аналог
students_performance.groupby('gender').mean()

        math_score  reading_score  writing_score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

In [16]:
# использование mapping, то есть распределение по столбцам и функциям аггрегирования
students_performance.groupby('gender').aggregate({'math_score': 'mean', 'reading_score': 'mean'})
# после агрегации в образованном DataFrame индексами будут метки по которым мы проводили группировку

        math_score  reading_score
gender
female   63.633205      72.608108
male     68.728216      65.473029

In [18]:
# Альтернатива не использующая метки группировки в качестве индексов c переименованием столбцов
students_performance.groupby('gender', as_index=False)\
    .aggregate({'math_score': 'mean', 'reading_score': 'mean'})\
    .rename(columns = {'math_score': 'mean_math_score', 'reading_score': 'mean_reading_score'})

   gender  mean_math_score  mean_reading_score
0  female        63.633205           72.608108
1    male        68.728216           65.473029

In [20]:
# Группировка по нескольким переменным
students_performance.groupby(['gender','race/ethnicity'], as_index=False)\
    .aggregate({'math_score': 'mean', 'reading_score': 'mean'})\
    .rename(columns = {'math_score': 'mean_math_score', 'reading_score': 'mean_reading_score'})

   gender race/ethnicity  mean_math_score  mean_reading_score
0  female        group A        58.527778           69.000000
1  female        group B        61.403846           71.076923
2  female        group C        62.033333           71.944444
3  female        group D        65.248062           74.046512
4  female        group E        70.811594           75.840580
5    male        group A        63.735849           61.735849
6    male        group B        65.930233           62.848837
7    male        group C        67.611511           65.424460
8    male        group D        69.413534           66.135338
9    male        group E        76.746479           70.295775

In [22]:
# Мультииндексы
mean_scores = students_performance.groupby(['gender','race/ethnicity'],)\
    .aggregate({'math_score': 'mean', 'reading_score': 'mean'})\
    .rename(columns = {'math_score': 'mean_math_score', 'reading_score': 'mean_reading_score'})

In [23]:
# Получается главный индекс gender, а подчиненный race/ethnicity
mean_scores.index

MultiIndex([('female', 'group A'),
            ('female', 'group B'),
            ('female', 'group C'),
            ('female', 'group D'),
            ('female', 'group E'),
            (  'male', 'group A'),
            (  'male', 'group B'),
            (  'male', 'group C'),
            (  'male', 'group D'),
            (  'male', 'group E')],
           names=['gender', 'race/ethnicity'])

In [24]:
mean_scores.head()

                       mean_math_score  mean_reading_score
gender race/ethnicity
female group A               58.527778           69.000000
       group B               61.403846           71.076923
       group C               62.033333           71.944444
       group D               65.248062           74.046512
       group E               70.811594           75.840580

In [25]:
students_performance.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [26]:
# Вывод уникальных значений для серии
students_performance.math_score.unique()

array([ 72,  69,  90,  47,  76,  71,  88,  40,  64,  38,  58,  65,  78,
        50,  18,  46,  54,  66,  44,  74,  73,  67,  70,  62,  63,  56,
        97,  81,  75,  57,  55,  53,  59,  82,  77,  33,  52,   0,  79,
        39,  45,  60,  61,  41,  49,  30,  80,  42,  27,  43,  68,  85,
        98,  87,  51,  99,  84,  91,  83,  89,  22, 100,  96,  94,  48,
        35,  34,  86,  92,  37,  28,  24,  26,  95,  36,  29,  32,  93,
        19,  23,   8], dtype=int64)

In [29]:
# подсчет количества уникальных значений в серии numeric unique
students_performance.math_score.nunique()

81

In [33]:
# Отберем 5 топ студентов по математике в группе мальчиков и девочек по убыванию (ascending=False)
students_performance.sort_values(['gender', 'math_score'], ascending=False)\
    .groupby(['gender']).head(5)

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
149,male,group E,associate's degree,free/reduced,completed,100,100,93
623,male,group A,some college,standard,completed,100,96,86
625,male,group D,some college,standard,completed,100,97,99
916,male,group E,bachelor's degree,standard,completed,100,100,100
306,male,group E,some college,standard,completed,99,87,81
451,female,group E,some college,standard,none,100,92,97
458,female,group E,bachelor's degree,standard,none,100,100,100
962,female,group E,associate's degree,standard,none,100,100,100
114,female,group E,bachelor's degree,standard,completed,99,100,100
263,female,group E,high school,standard,none,99,93,90

# Создание новых колонок DataFrame

In [35]:
students_performance['total_score'] = students_performance.math_score + students_performance.reading_score + students_performance.writing_score
students_performance.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score
0,female,group B,bachelor's degree,standard,none,72,72,74,218
1,female,group C,some college,standard,completed,69,90,88,247
2,female,group B,master's degree,standard,none,90,95,93,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,148
4,male,group C,some college,standard,none,76,78,75,229

In [37]:
# Создание одной или нескольких колонок другим сопсобом
students_performance = students_performance.assign(total_score_log = np.log(students_performance.total_score))
students_performance.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score,total_score_log
0,female,group B,bachelor's degree,standard,none,72,72,74,218,5.384495
1,female,group C,some college,standard,completed,69,90,88,247,5.509388
2,female,group B,master's degree,standard,none,90,95,93,278,5.627621
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,4.997212
4,male,group C,some college,standard,none,76,78,75,229,5.433722

In [41]:
# Удаление колонок.
students_performance.drop(['total_score'], axis='columns').head()
# Примичание: axis=0 или axis='index' и axis=1 или axis='columns'

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score_log
0,female,group B,bachelor's degree,standard,none,72,72,74,5.384495
1,female,group C,some college,standard,completed,69,90,88,5.509388
2,female,group B,master's degree,standard,none,90,95,93,5.627621
3,male,group A,associate's degree,free/reduced,none,47,57,44,4.997212
4,male,group C,some college,standard,none,76,78,75,5.433722