In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Любым удобным для вас способом создайте dataframe c именем my_data, в котором две колонки c именами (type - строки, value - целые числа) и четыре наблюдения в каждой колонке:

|type| value|
|:--|:--|
|A|10|
|A|14|
|B|12|
|B|23|

In [5]:
# Моё решение:
my_data = pd.DataFrame({'type': ['A', 'A', 'B', 'B'], 'value': [10, 14, 12, 23]})
my_data.dtypes

type     object
value     int64
dtype: object

In [6]:
my_data.head()

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

In [7]:
# Лучшее решение
my_data = pd.DataFrame({"type": list("AABB"), "value": [10, 14, 12, 23]}, columns = ['type','value'])
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

# Решения других:

In [8]:
my_data = pd.DataFrame(
    data = [['A', 10],
            ['A', 14],
            ['B', 12],
            ['B', 23]],
    columns = ['type','value']
)
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

In [9]:
my_data = pd.DataFrame({"type": list("AABB"), "value": [10, 14, 12, 23]})

In [10]:
d = {'type': ['A', 'A', 'B', 'B'], 'value': ['10', '14', '12', '23']}
my_data = pd.DataFrame(data=d).astype({"type": str, "value": int})
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

In [11]:
columns = ['type', 'value']
data = [['A', 10], ['A', 14], ['B', 12], ['B', 23]]
my_data = pd.DataFrame(data=data, columns=columns)
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

In [12]:
my_data = pd.DataFrame(list(zip(["A", "A", "B", "B"], [10, 14, 12, 23])), columns=["type", "value"])
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

In [13]:
list(zip(["A", "A", "B", "B"], [10, 14, 12, 23]))

[('A', 10), ('A', 14), ('B', 12), ('B', 23)]

# Особенно важный навык при работе с данными - это умение быстро и эффективно отбирать нужные вам колонки или строки.

Начнем с простого, в dataframe с именем my_stat сохранено 20 строк и четыре колонки (V1, V2, V3, V4):

В переменную с именем subset_1 сохраните только первые 10 строк и только 1 и 3 колонку.
В переменную с именем subset_2 сохраните все строки кроме 1 и 5 и только 2 и 4 колонку.

Помните, что нумерация индексов строк и колонок начинается с 0.

Обратите внимание, получившиеся subset_1 и subset_2 - тоже должны быть dataframe.

In [14]:
my_stat = pd.read_csv('data/my_stat.csv')
my_stat.head()

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
4   0  10.0  B -1.0

In [15]:
# Моё решение
subset_1 = my_stat.iloc[:10][['V1','V3']]
subset_1

   V1 V3
0   2  B
1  -1  B
2   0  A
3   2  A
4   0  B
5   2  A
6   0  A
7   1  A
8   0  B
9  -1  A

In [16]:
subset_2 = my_stat[(my_stat.index != 0) & (my_stat.index != 4)][['V2','V4']]
subset_2

       V2   V4
1     7.0  1.0
2    11.0  0.0
3    11.0  2.0
5    11.0  0.0
6     9.0  2.0
..    ...  ...
495   8.0 -1.0
496   8.0  1.0
497  11.0  2.0
498  11.0  2.0
499   8.0  1.0

[498 rows x 2 columns]

# Решения других

In [17]:
subset_1=my_stat.iloc[:10, [0, 2]]
subset_2=my_stat.iloc[:, [1, 3]].drop([0, 4])

In [24]:
%timeit subset_2 = my_stat.iloc[:, [1, 3]][my_stat.index.isin([0, 4])]
%timeit subset_2 = my_stat.iloc[:, [1, 3]].drop([0, 4],axis=0)

551 µs ± 37.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
534 µs ± 8.94 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

# Теперь потренируемся отбирать нужные нам наблюдения (строки), соответствующие некому условию. В dataframe с именем my_stat четыре колонки V1, V2, V3, V4:

В переменную subset_1 сохраните только те наблюдения, у которых значения переменной V1  строго больше 0, и значение переменной V3  равняется 'A'.

В переменную  subset_2  сохраните только те наблюдения, у которых значения переменной V2  не равняются 10, или значения переменной V4 больше или равно 1.

Как и в предыдущей задаче результат фильтрации - это тоже dataframe.

In [25]:
my_stat.head()

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
4   0  10.0  B -1.0

## Моё решение

In [27]:
subset_1 = my_stat.query("V3 == 'A' & V1 > 0")
subset_1

     V1    V2 V3   V4
3     2  11.0  A  2.0
5     2  11.0  A  0.0
7     1   9.0  A  1.0
10    1  10.0  A  1.0
13    1  12.0  A  3.0
..   ..   ... ..  ...
491   4   7.0  A  2.0
494   1  11.0  A  1.0
495   1   8.0  A -1.0
496   3   8.0  A  1.0
498   1  11.0  A  2.0

[88 rows x 4 columns]

In [29]:
subset_2 = my_stat.query("V2 != 10 | V4 >= 1")
subset_2

     V1    V2 V3   V4
0     2  13.0  B  1.0
1    -1   7.0  B  1.0
2     0  11.0  A  0.0
3     2  11.0  A  2.0
5     2  11.0  A  0.0
..   ..   ... ..  ...
495   1   8.0  A -1.0
496   3   8.0  A  1.0
497  -1  11.0  B  2.0
498   1  11.0  A  2.0
499   0   8.0  B  1.0

[447 rows x 4 columns]

## Решения других

In [30]:
# Профайлинг [] vs query

%timeit subset_1 = my_stat[(my_stat['V1'] > 0) & (my_stat['V3'] == 'A')]
%timeit subset_1 = my_stat.query("(V1 > 0) and (V3 == 'A')" )
# 883 µs ± 4.69 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
# 1.87 ms ± 4.03 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

%timeit subset_2 = my_stat[(my_stat['V2'] != 10) | (my_stat['V4'] >= 1)]
%timeit subset_2 = my_stat.query("(V1 > 0) and (V3 == 'A')" )
# 865 µs ± 18.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
# 1.91 ms ± 34.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

677 µs ± 37.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
2.06 ms ± 42.3 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
756 µs ± 93.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
2.23 ms ± 145 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [31]:
# Хотя query медленнее на больших объемах и большем количестве циклов query показывает лучший результат
# https://stackoverflow.com/questions/49936557/pandas-dataframe-loc-vs-query-performance

# Теперь давайте преобразуем наши данные. В переменной my_stat лежат данные с которыми вам необходимо проделать следующее дейтвие. В этих данных (my_stat) создайте две новые переменных:

V5 = V1 + V4

V6 = натуральный логарифм переменной V2

# Моё решение

In [37]:
my_stat['V5'] = my_stat.V1 + my_stat.V4
my_stat['V6'] = np.log(my_stat.V2)
my_stat.head()

   V1    V2 V3   V4   V5        V6
0   2  13.0  B  1.0  3.0  2.564949
1  -1   7.0  B  1.0  0.0  1.945910
2   0  11.0  A  0.0  0.0  2.397895
3   2  11.0  A  2.0  4.0  2.397895
4   0  10.0  B -1.0 -1.0  2.302585

# Решения других

In [41]:
my_stat=my_stat.assign(V5 = my_stat.V1 + my_stat.V4, V6 = np.log(my_stat.V2));
my_stat.head()

   V1    V2 V3   V4   V5        V6
0   2  13.0  B  1.0  3.0  2.564949
1  -1   7.0  B  1.0  0.0  1.945910
2   0  11.0  A  0.0  0.0  2.397895
3   2  11.0  A  2.0  4.0  2.397895
4   0  10.0  B -1.0 -1.0  2.302585

In [42]:
# numpy ещё есть внутри пространства имён pandas
my_stat['V5'] = my_stat.V1 + my_stat.V4
my_stat['V6'] = pd.np.log(my_stat.V2)

<ipython-input-42-5a6f14f1977c>:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  my_stat['V6'] = pd.np.log(my_stat.V2)

# Переменные V1, V2  ... такие имена никуда не годятся. С такими названиями легко запутаться в собственных данных и в результате ошибиться в расчетах.

Переименуйте колонки в данных  my_stat следующим образом:

V1 -> session_value

V2 -> group

V3 -> time

V4 -> n_users

In [55]:
my_stat.drop(['V5', 'V6'], axis=1, inplace=True)
my_stat.head()

KeyError: "['V5' 'V6'] not found in axis"

In [53]:
# Мое решение
my_stat.columns = ['session_value', 'group','time', 'n_users']

In [54]:
my_stat.head()

   session_value  group time  n_users
0              2   13.0    B      1.0
1             -1    7.0    B      1.0
2              0   11.0    A      0.0
3              2   11.0    A      2.0
4              0   10.0    B     -1.0

## Решения других

In [57]:
%timeit my_stat.columns = {'session_value':'V1', 'group':'V2', 'time':'V3', 'n_users':'V4'}
%timeit my_stat.columns = ['session_value','group','time','n_users']
%timeit my_stat.rename(columns={'V1': 'session_value', 'V2': 'group', 'V3': 'time', 'V4': 'n_users'}, inplace=True)

84.1 µs ± 2.68 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
78.8 µs ± 1.53 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
223 µs ± 2.48 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [58]:
my_stat = my_stat.rename(
    columns={
        'V1': 'session_value',
        'V2': 'group',
        'V3': 'time',
        'V4': 'n_users'
    }
)

In [59]:
my_stat.head()

   session_value  group time  n_users
0              2   13.0    B      1.0
1             -1    7.0    B      1.0
2              0   11.0    A      0.0
3              2   11.0    A      2.0
4              0   10.0    B     -1.0

# И напоследок давайте разберемся, как заменять наблюдения в данных.

В dataframe с именем my_stat сохранены данные с 4 колонками: session_value, group, time, n_users.

В переменной session_value замените все пропущенные значения на нули.

В переменной n_users замените все отрицательные значения на медианное значение переменной n_users (без учета отрицательных значений, разумеется).

Как получить медиану переменной n_users без учета отрицательных значений? Если не придумали решения, подсказка - ищите один из возможных ответов в задачах, которые мы уже решили.

# Мое решение

In [62]:
my_stat.session_value.fillna(0, inplace=True)

In [71]:
# my_stat.query("n_users < 0")['n_users'] = my_stat[my_stat.n_users >= 0].n_users.median

<ipython-input-71-518be18e7f98>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_stat.query("n_users < 0")['n_users'] = my_stat[my_stat.n_users >= 0].n_users.median

In [73]:
median = my_stat[my_stat.n_users >= 0].n_users.median()
median

1.0

In [85]:
my_stat.loc[my_stat.n_users < 0, 'n_users'] = my_stat[my_stat.n_users >= 0].n_users.median()

Series([], Name: n_users, dtype: float64)

In [83]:
my_stat.head()

   session_value  group time  n_users
0              2   13.0    B      1.0
1             -1    7.0    B      1.0
2              0   11.0    A      0.0
3              2   11.0    A      2.0
4              0   10.0    B      1.0

# Другие решения

In [ ]:
my_stat = my_stat.fillna(0)

In [85]:
my_stat = my_stat.fillna(0)
my_stat.loc[my_stat.n_users < 0, 'n_users'] = my_stat[my_stat.n_users >= 0].n_users.median()

In [89]:
# Профайлинг apply vs where vs loc vs loc+query

my_stat = pd.read_csv('data/my_stat_na.csv')
%timeit my_stat.n_users = my_stat.n_users.apply(lambda x: x if x >= 0 else my_stat.n_users[my_stat.n_users >= 0].median())

my_stat = pd.read_csv('data/my_stat_na.csv') # возвращаем my_stat в исходное состояние
%timeit my_stat.n_users.where(my_stat.n_users >= 0, my_stat.n_users[my_stat.n_users >= 0].median(), inplace=True)

my_stat = pd.read_csv('data/my_stat_na.csv') # возвращаем my_stat в исходное состояние
%timeit my_stat.loc[my_stat.n_users < 0, 'n_users'] = my_stat[my_stat.n_users >= 0].n_users.median()

my_stat = pd.read_csv('data/my_stat_na.csv') # возвращаем my_stat в исходное состояние
%timeit my_stat.loc[my_stat.n_users < 0, 'n_users'] = my_stat.query('n_users >= 0').n_users.median()
# 438 µs ± 12 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)
# 1.69 ms ± 8.98 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
# 2.76 ms ± 23 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
# 3.75 ms ± 51.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

FileNotFoundError: [Errno 2] No such file or directory: 'data\\my_stat_na.csv'

# В этой задаче для данных my_stat рассчитайте среднее значение переменной session_value для каждой группы (переменная group), в получившемся dataframe  переменная group не должна превратиться в индекс. Также переименуйте колонку со средним значением session_value в mean_session_value.

Получившийся результат сохраните в dataframe с именем mean_session_value_data.

In [97]:
mean_session_value_data = my_stat.groupby('group', as_index=False).agg({'session_value': np.mean}).rename(columns = {'session_value': 'mean_session_value'})
mean_session_value_data

   group  mean_session_value
0    5.0            0.000000
1    7.0            0.333333
2    8.0            0.633333
3    9.0            0.238938
4   10.0            0.065990
5   11.0           -0.081081
6   12.0           -0.078947
7   13.0            0.000000

# Решения других

In [99]:
# без rename
mean_session_value_data = my_stat.groupby("group", as_index=False).session_value.agg({'mean_session_value':'mean'})

In [100]:
mean_session_value_data

   group  mean_session_value
0    5.0            0.000000
1    7.0            0.333333
2    8.0            0.633333
3    9.0            0.238938
4   10.0            0.065990
5   11.0           -0.081081
6   12.0           -0.078947
7   13.0            0.000000